In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import os
import glob
import matplotlib.pyplot as plt

In [2]:
dataframe = []
path = 'data_set/sales/'
all_files = glob.glob(os.path.join(path,'*.csv'))
all_files
for file in all_files:
    dff = pd.read_csv(file)
    dataframe.append(dff)
df = pd.concat(dataframe, ignore_index = True)

In [3]:
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
77265,150497,20in Monitor,1,109.99,01/26/19 19:09,"95 8th St, Dallas, TX 75001"
77266,150498,27in FHD Monitor,1,149.99,01/10/19 22:58,"403 7th St, San Francisco, CA 94016"
77267,150499,ThinkPad Laptop,1,999.99,01/21/19 14:31,"214 Main St, Portland, OR 97035"
77268,150500,AAA Batteries (4-pack),2,2.99,01/15/19 14:21,"810 2nd St, Los Angeles, CA 90001"
77269,150501,Google Phone,1,600,01/13/19 16:43,"428 Cedar St, Boston, MA 02215"

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77270 entries, 0 to 77269
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          77045 non-null  object
 1   Product           77045 non-null  object
 2   Quantity Ordered  77045 non-null  object
 3   Price Each        77045 non-null  object
 4   Order Date        77045 non-null  object
 5   Purchase Address  77045 non-null  object
dtypes: object(6)
memory usage: 3.5+ MB

In [5]:
 df.isna().sum()

Order ID            225
Product             225
Quantity Ordered    225
Price Each          225
Order Date          225
Purchase Address    225
dtype: int64

In [6]:
df[df.duplicated(keep ='first')]

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
31,176585,Bose SoundSport Headphones,1,99.99,04/07/19 11:31,"823 Highland St, Boston, MA 02215"
356,NaN,NaN,NaN,NaN,NaN,NaN
735,NaN,NaN,NaN,NaN,NaN,NaN
1149,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
1155,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
...,...,...,...,...,...,...
76691,NaN,NaN,NaN,NaN,NaN,NaN
76858,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
76974,150216,Wired Headphones,1,11.99,01/21/19 09:20,"691 Pine St, San Francisco, CA 94016"
77178,NaN,NaN,NaN,NaN,NaN,NaN
77211,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
filt = df['Order ID'].str.contains('Or', na = False)

In [8]:
df.drop(index=df[filt].index, inplace=True)

In [9]:
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
77265,150497,20in Monitor,1,109.99,01/26/19 19:09,"95 8th St, Dallas, TX 75001"
77266,150498,27in FHD Monitor,1,149.99,01/10/19 22:58,"403 7th St, San Francisco, CA 94016"
77267,150499,ThinkPad Laptop,1,999.99,01/21/19 14:31,"214 Main St, Portland, OR 97035"
77268,150500,AAA Batteries (4-pack),2,2.99,01/15/19 14:21,"810 2nd St, Los Angeles, CA 90001"
77269,150501,Google Phone,1,600,01/13/19 16:43,"428 Cedar St, Boston, MA 02215"

In [10]:
df[filt].index

C:\Users\amil\AppData\Local\Temp\ipykernel_11192\4245244591.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[filt].index

Index([], dtype='int64')

In [11]:
 df.isna().sum()

Order ID            225
Product             225
Quantity Ordered    225
Price Each          225
Order Date          225
Purchase Address    225
dtype: int64

In [12]:
df[filt]

C:\Users\amil\AppData\Local\Temp\ipykernel_11192\1677692986.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[filt]

Empty DataFrame
Columns: [Order ID, Product, Quantity Ordered, Price Each, Order Date, Purchase Address]
Index: []

In [13]:
df[df.duplicated()]

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
31,176585,Bose SoundSport Headphones,1,99.99,04/07/19 11:31,"823 Highland St, Boston, MA 02215"
356,NaN,NaN,NaN,NaN,NaN,NaN
735,NaN,NaN,NaN,NaN,NaN,NaN
1302,177795,Apple Airpods Headphones,1,150,04/27/19 19:45,"740 14th St, Seattle, WA 98101"
1433,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
76470,149738,USB-C Charging Cable,1,11.95,01/11/19 11:22,"612 West St, New York City, NY 10001"
76691,NaN,NaN,NaN,NaN,NaN,NaN
76974,150216,Wired Headphones,1,11.99,01/21/19 09:20,"691 Pine St, San Francisco, CA 94016"
77178,NaN,NaN,NaN,NaN,NaN,NaN
77211,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df.drop_duplicates(inplace = True)

In [15]:
df.dropna(how = 'all', inplace = True)

In [16]:
 df.isna().sum()

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
dtype: int64

In [17]:
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
77265,150497,20in Monitor,1,109.99,01/26/19 19:09,"95 8th St, Dallas, TX 75001"
77266,150498,27in FHD Monitor,1,149.99,01/10/19 22:58,"403 7th St, San Francisco, CA 94016"
77267,150499,ThinkPad Laptop,1,999.99,01/21/19 14:31,"214 Main St, Portland, OR 97035"
77268,150500,AAA Batteries (4-pack),2,2.99,01/15/19 14:21,"810 2nd St, Los Angeles, CA 90001"
77269,150501,Google Phone,1,600,01/13/19 16:43,"428 Cedar St, Boston, MA 02215"

In [20]:
df['Order Date'] = pd.to_datetime(df['Order Date'], errors ='coerce')

C:\Users\amil\AppData\Local\Temp\ipykernel_11192\3973711519.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Order Date'] = pd.to_datetime(df['Order Date'], errors ='coerce')

In [26]:
df['order_date'] = df['Order Date'].dt.day

In [29]:
df['order_month'] =df['Order Date'].dt.month
df['order_year'] =df['Order Date'].dt.year

In [31]:
df.drop(columns = 'Order Date', inplace = True)

In [33]:
df.drop(columns = 'Order ID', inplace = True)

In [ ]:
df.drop(columns = 'Order ID', inplace = True)

In [41]:
df['Product'].value_counts()
copy_df = df.copy()

In [53]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(sparse = False)
encoded = encoder.fit_transform(copy_df['Product'].values.reshape(-1,1))
encoded_df = pd.DataFrame(encoded, columns = encoder.get_feature_names_out(['Product']))

copy_df.reset_index(drop=True, inplace=True)
encoded_df.reset_index(drop=True, inplace=True)

# Merge the original DataFrame with the encoded DataFrame
df = pd.concat([copy_df, encoded_df], axis=1)

C:\Users\amil\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [47]:
merged_df

,Product,Quantity Ordered,Price Each,Purchase Address,order_date,order_month,order_year,Product_20in Monitor,Product_27in 4K Gaming Monitor,Product_27in FHD Monitor,...,Product_Google Phone,Product_LG Dryer,Product_LG Washing Machine,Product_Lightning Charging Cable,Product_Macbook Pro Laptop,Product_ThinkPad Laptop,Product_USB-C Charging Cable,Product_Vareebadd Phone,Product_Wired Headphones,Product_iPhone
0,USB-C Charging Cable,2,11.95,"917 1st St, Dallas, TX 75001",19,4,2019,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,Bose SoundSport Headphones,1,99.99,"682 Chestnut St, Boston, MA 02215",7,4,2019,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Google Phone,1,600,"669 Spruce St, Los Angeles, CA 90001",12,4,2019,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Wired Headphones,1,11.99,"669 Spruce St, Los Angeles, CA 90001",12,4,2019,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,Wired Headphones,1,11.99,"333 8th St, Los Angeles, CA 90001",30,4,2019,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76789,20in Monitor,1,109.99,"95 8th St, Dallas, TX 75001",26,1,2019,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
76790,27in FHD Monitor,1,149.99,"403 7th St, San Francisco, CA 94016",10,1,2019,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
76791,ThinkPad Laptop,1,999.99,"214 Main St, Portland, OR 97035",21,1,2019,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
76792,AAA Batteries (4-pack),2,2.99,"810 2nd St, Los Angeles, CA 90001",15,1,2019,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
76793,Google Phone,1,600,"428 Cedar St, Boston, MA 02215",13,1,2019,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [56]:
df['Quantity Ordered'] = pd.to_numeric(df['Quantity Ordered'], errors = 'coerce')

In [57]:
df['Price Each'] = pd.to_numeric(df['Price Each'], errors = 'coerce')

In [58]:
df['Total_revenue'] = df['Quantity Ordered'] * df['Price Each']

In [61]:
df.drop(columns = 'Product', inplace = True)

In [62]:
df

,Quantity Ordered,Price Each,Purchase Address,order_date,order_month,order_year,Product_20in Monitor,Product_27in 4K Gaming Monitor,Product_27in FHD Monitor,Product_34in Ultrawide Monitor,...,Product_LG Dryer,Product_LG Washing Machine,Product_Lightning Charging Cable,Product_Macbook Pro Laptop,Product_ThinkPad Laptop,Product_USB-C Charging Cable,Product_Vareebadd Phone,Product_Wired Headphones,Product_iPhone,Total_revenue
0,2,11.95,"917 1st St, Dallas, TX 75001",19,4,2019,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,23.90
1,1,99.99,"682 Chestnut St, Boston, MA 02215",7,4,2019,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,99.99
2,1,600.00,"669 Spruce St, Los Angeles, CA 90001",12,4,2019,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,600.00
3,1,11.99,"669 Spruce St, Los Angeles, CA 90001",12,4,2019,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,11.99
4,1,11.99,"333 8th St, Los Angeles, CA 90001",30,4,2019,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,11.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76789,1,109.99,"95 8th St, Dallas, TX 75001",26,1,2019,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,109.99
76790,1,149.99,"403 7th St, San Francisco, CA 94016",10,1,2019,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,149.99
76791,1,999.99,"214 Main St, Portland, OR 97035",21,1,2019,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,999.99
76792,2,2.99,"810 2nd St, Los Angeles, CA 90001",15,1,2019,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.98
76793,1,600.00,"428 Cedar St, Boston, MA 02215",13,1,2019,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,600.00